## Documentación 5

In [1]:
answer = 30 + 12
print(answer)

42

In [2]:
difference = 30 - 12
print(difference)

18

In [3]:
product = 30 * 12
print(product)

360

In [4]:
seconds = 1042
display_minutes = 1042 // 60
print(display_minutes)

17

In [5]:
seconds = 1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(display_minutes)
print(display_seconds)

17
22

In [8]:
result_1 = 1032 + 26 * 2
result_2 = 1032 + (26 * 2)
print(result_1)
print(result_2)

1084
1084

In [10]:
demo_int = int('215')
print(demo_int)
demo_float = float('215.3')
print(demo_float)

215
215.3

In [16]:
a = 39 - 16
b = 16 - 39
print(a)
print(b)
print(abs(39 - 16))
print(abs(16 - 39))
print(round(14.5))

23
-23
23
23
14

In [17]:
from math import ceil, floor

round_up = ceil(12.5)
print(round_up)

round_down = floor(12.5)
print(round_down)

13
12

## Kata 5

In [1]:
tierra = 149597870 #km
júpiter = 778547200 #km
distancia = júpiter - tierra
millas = distancia * .621
print(distancia)
print(millas)

628949330
390577533.93

In [2]:
tierra = input('149597870 km')
júpiter = input('778547200 km')
tierra = int(tierra)
júpiter = int(júpiter)
distancia_km = júpiter - tierra
print(distancia_km)
distancia_millas = distancia_km * 0.621
print(abs(distancia_millas))

2
1.242